/*EQUIPOS: CallOfDuty*/

.callofduty {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow:
        3px 3px 0px goldenrod,
        -3px 3px 0px goldenrod,
        3px -3px 0px gold,
        -3px -3px 0px gold;
}
.callofduty h1 {    
    position: relative;
    z-index: 2;
}
  /* Estilo del video */
.callofduty video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.9;
    border: solid gold;
    border-bottom: solid goldenrod;
    object-fit: cover;
    width: 100vw; /* Asegura que el video ocupe el ancho total */
    height: 100vh; /* Asegura que el video ocupe la altura total */
}

.modal-content {
    background-color: black;
}

.modal-title {
    color: gold;
}

.modal-body{
    color: gold;
}

/* Sección de 'Sobre Call of Duty' */
.sobre-callofduty {  
    background-image: url(../img/Call\ Of\ Duty.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;    
    z-index: 1;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
}
.sobre-callofduty h3 {
    color: white;
    padding-top: 15%;
    text-decoration: solid;
    font-size: 2rem;    
    text-shadow:
    3px 3px 0px black;
}

.sobre-callofduty p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    width: 75%; 
    text-align: justify; 
    color: whitesmoke;
    font-size: 0.9rem;
    line-height: 1.8;
    text-shadow:
    3px 3px 0px black;
}

/* Sección 'Roster y la Liga' */
.roster-liga {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.roster-liga img {
    width: 400px;
    border-radius: 10px;
}

.roster-liga p {
    width: 50%; 
    text-align: justify; 
    background-color: goldenrod;
    border: solid;
    padding: 2%;
    color: black;
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Sección de 'Trofeos' */

.cod h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow:
    3px 3px 0px goldenrod,
    -3px 3px 0px goldenrod,
    3px -3px 0px gold,
    -3px -3px 0px gold;
}


.trofeos_cod p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%; 
    text-align: justify; 
    background-color: goldenrod;
    border: solid;
    padding: 2%;
    color: black;
    font-size: 1.2rem;
    line-height: 1.8;  
    margin-left: 5%;
}

.trofeos_cod {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.trofeos_cod p {
    background-color: goldenrod;
    border: solid black;
    padding: 5%;
    margin-right: 5%;
    border-radius: 10px;
    width: 45%; 
    text-align: justify; 
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;    
}

.trofeos_cod video {
    border-radius: 50%; /* Forma circular */
    box-shadow:
        3px 3px 0px goldenrod,
        -3px 3px 0px goldenrod,
        3px -3px 0px gold,
        -3px -3px 0px gold;
    width: 300px; /* Ancho fijo */
    height: 300px; /* Alto fijo */
    object-fit: cover; /* Asegura que el video llene el contenedor sin deformarse */
}

/* Estilo para la tabla */
table {
    width: auto 0;
    justify-content: center;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

table th {
    padding: 12px;
    border: 1px solid white;
}

table th {
    background-color: #000000;
    color:yellow;
}

table tr:nth-child(even) {
    background-color: goldenrod;
}

table tr:hover {
    background-color: #000000;
}

/*RESPONSIVE*/
@media screen and (max-width: 768px) {
    .sobre-callofduty  {    
        width: 100%;
        height: 65vh;    
        z-index: 1;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: black;
    }
    
    .sobre-callofduty h3 {
        color: white;
        padding-top: 10%;
        text-decoration: solid;
        font-size: 2.4rem;    
        text-shadow:
        3px 3px 0px black;
    }
    
    .sobre-callofduty p { 
        display: flex;
        justify-content:flex-start;
        align-items: center;
        width: 85%; 
        text-align: justify; 
        color: whitesmoke;
        font-size: 0.9rem;
        line-height: 1.8;
        text-shadow:
        3px 3px 0px black;
    }
    
    /* Sección 'Roster y la Liga' */
    .roster-liga {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    
    .roster-liga img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        border-radius: 10px;
        padding-top: 10%;        
        padding-bottom: 10%;
    }
    .roster-liga p {
        width: 75%; 
        text-align: justify; 
        background-color: goldenrod;
        border: solid;
        padding: 2%;
        color: black;
        font-size: 1.2rem;
        line-height: 1.8;
    }
    table {
        width: 80%;
    }
}
@media screen and (max-width:480px ) {

    .sobre-callofduty  {    
        width: 100vw;
        height: 65vh;    
        z-index: 1;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: black;
    }
    
    .sobre-callofduty h3 {
        color: white;
        padding-top: 10%;
        text-decoration: solid;
        font-size: 2.2rem;    
        text-shadow:
        3px 3px 0px black;
    }
    
    .sobre-callofduty p { 
        display: flex;
        justify-content:flex-start;
        align-items: center;
        width: 85%; 
        text-align: justify; 
        color: whitesmoke;
        font-size: 0.9rem;
        line-height: 1.5;
        text-shadow:
        3px 3px 0px black;
    }
    
    /* Sección 'Roster y la Liga' */
    .roster-liga {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: 0;
    }
    
    .roster-liga img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        border-radius: 10px;
        padding-top: 10%;        
        padding-bottom: 10%;
    }
    .roster-liga p {
        width: 75%; 
        text-align: justify; 
        background-color: goldenrod;
        border: solid;
        padding: 2%;
        color: black;
        font-size: 1.2rem;
        line-height: 1.8;
    }
    
    .cod h3 {
        font-size: 1.5rem;
    }

    .trofeos_cod {
        display:flex;
        flex-direction: column;
        align-items:center;
        width: 100vw;
        margin: 0;
    }
    
    .trofeos_cod p {
        background-color: goldenrod;
        border: solid black;
        padding: 5%;
        margin-right: 5%;
        border-radius: 10px;
        width: 80%;         
        align-items:center;
        text-align: justify; 
        color: black;
        font-size: 1.1rem;
        line-height: 1.8;    
    }
    
    .trofeos_cod video {
        border-radius: 50%; /* Forma circular */        
        align-items:center;
        box-shadow:
            3px 3px 0px goldenrod,
            -3px 3px 0px goldenrod,
            3px -3px 0px gold,
            -3px -3px 0px gold;
        width: 200px; /* Ancho fijo */
        height: 200px; /* Alto fijo */
        object-fit: cover; /* Asegura que el video llene el contenedor sin deformarse */
    }
    .trofeos_cod_tabla {
        display: block;
        width: 100%;
    }

    .trofeos_cod_tabla tr {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .trofeos_cod_tabla th {
        display: block;
        width: 100%;
        text-align: left;
    }

    .trofeos_cod_tabla th img {
        display: block;
        margin-top: 10px;
    }
}




