/*Header */
.colornav {
    background-color: #1a1a1a;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-brand img {
    max-width: 100px;
}

.colornav .navbar .container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 1; 
}

.lista_Desordenada {
    display: flex;
    justify-content:end;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
}

.nav-link {
    color: goldenrod;
    padding: 10px 20px;
    font-size: 24px;
}

.nav-link:hover {
    color: #ffcc00;
    background-color: #333;
    border-radius: 5px;
}

.juegos .submenu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;
}

.juegos:hover .submenu {
    display: block;
    list-style: none;
}

.juegos .submenu li {
    padding: 10px 20px;
}

.juegos .submenu li a {
    color: #fff;
    font-size: 1.2rem;
}

.juegos .submenu li a:hover {
    background-color: #ffcc00;
    color: #1a1a1a;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .lista_Desordenada {
        flex-direction: column;
        align-items: end; 
    }
}

@media screen and (max-width: 480px) {
    .lista_Desordenada {
        flex-direction: column;
        align-items:end;
    }
    .colornav {
        padding: 0%;
        margin: 0%;
    }
    .container-fluid a img{
        width: 20vw;
    };
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D"http://www.w3.org/2000/svg" viewBox%3D"0 0 30 30"%3E%3Cpath stroke%3D"white" stroke-linecap%3D"round" stroke-miterlimit%3D"10" stroke-width%3D"2" d%3D"M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); /* Ícono de menú hamburguesa en color blanco */
}
