/*EQUIPOS: Lol*/

.leagueoflegends {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow:
        3px 3px 0px goldenrod,
        -3px 3px 0px goldenrod,
        3px -3px 0px gold,
        -3px -3px 0px gold;
}

.leagueoflegends h1 {
    position: relative;
    z-index: 2;
}

/* Estilo del video */
.leagueoflegends video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.9;
    border: solid gold;
    border-bottom: solid goldenrod;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.lol_subt {    
    text-align: center;
    font-size: 1000px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-shadow:
    3px 3px 0px goldenrod,
    -3px 3px 0px goldenrod,
    3px -3px 0px gold,
    -3px -3px 0px gold;
}

.lol_subt_sobre {      
    background-image: url(../img/banner_lol.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 65vh;    
    z-index: 1;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
}

.lol_subt_sobre h3 {
    color: white;
    padding-top: 15%;
    text-decoration: solid;
    font-size: 2.5rem;    
    text-shadow:
    3px 3px 0px black;
}

.lol_subt_sobre p { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-left: 15%;
    width: 85%; 
    text-align: justify; 
    color: goldenrod;
    font-size: 1.25rem;
    line-height: 1.8;
    text-shadow:
    3px 3px 0px black;
}

.rosterLOL {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 20px;
}

.rosterLOL p {
    background-color: goldenrod;
    border: solid black;
    padding: 2%;
    border-radius: 10px;
    width: 50%; 
    text-align: justify; 
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;
}

.rosterLOL img {
    box-shadow:
    3px 3px 0px goldenrod,
    -3px 3px 0px goldenrod,
    3px -3px 0px gold,
    -3px -3px 0px gold;
    margin: 3%;
    width: 450px;
    border-radius: 10px;
}

.trofeos-lol {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.trofeos-lol p {
    background-color: goldenrod;
    border: solid black;
    padding: 2%;
    border-radius: 10px;
    width: 50%; 
    text-align: justify; 
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;    
}

.trofeos-lol video {
    border-radius: 50%; /* Forma circular */
    box-shadow:
        3px 3px 0px goldenrod,
        -3px 3px 0px goldenrod,
        3px -3px 0px gold,
        -3px -3px 0px gold;
    width: 300px; /* Ancho fijo */
    height: 300px; /* Alto fijo */
    object-fit: cover; /* Asegura que el video llene el contenedor sin deformarse */
}

.musicbtn {
    color: gold;
    position:fixed;
    flex-wrap: wrap;
    bottom: 20px;
    right: 20px;
}
.musicbtn img {
    width: 30px;
}

@media screen and (max-width: 768px) {
    main {
        margin-top: 200px;
    }
    .lol_subt_sobre {    
        width: 100%;
        height: 65vh;  
        margin-top: auto -15%;
        z-index: 1;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: black;
    }
    
    .lol_subt_sobre h3 {
        color: white;
        padding-top: 10%;
        text-decoration: solid;
        font-size: 2.4rem;    
        text-shadow:
        3px 3px 0px black;
    }
    
    .lol_subt_sobre p { 
        padding:20px;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        width: 100%; 
        text-align: justify; 
        color: goldenrod;
    }
    
    .rosterLOL {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: 0;
    }
    
    .rosterLOL p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85vw; 
    }
    
    .rosterLOL img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3%;
        width: 100vw;
        border-radius: 10px;
    }
    
    .trofeos-lol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .trofeos-lol p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85%; 
        margin-left: 3%;
    }
}

@media screen and (max-width: 480px) {
    .leagueoflegends h1{ 
        font-size: 1.5rem;
    }
    .lol_subt_sobre {    
        width: 100%;
        height: 65vh;  
        margin-top: auto -15%;
        z-index: 1;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: black;
    }
    
    .lol_subt_sobre h3 {
        color: white;
        padding-top: 10%;
        text-decoration: solid;
        font-size: 1.5rem;    
        text-shadow:
        3px 3px 0px black;
    }
    
    .lol_subt_sobre p { 
        padding:20px;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        font-size: 0.95rem;
        width: 100vw; 
        text-align: justify; 
        color: black;     
        text-shadow:    
        3px 3px 0px goldenrod;
    }
    
    .rosterLOL {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: 0;
    }
    
    .rosterLOL p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85vw; 
    }
    
    .rosterLOL img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0%;
        width: 90vw;
        border-radius: 10px;
    }
    
    .trofeos-lol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .trofeos-lol p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85%; 
        margin-left: 3%;
    }

    .trofeos-lol video {
        border-radius: 50%; /* Forma circular */
        box-shadow:
            3px 3px 0px goldenrod,
            -3px 3px 0px goldenrod,
            3px -3px 0px gold,
            -3px -3px 0px gold;
        width: 150px; /* Ancho fijo */
        height: 150px; /* Alto fijo */
        object-fit: cover; /* Asegura que el video llene el contenedor sin deformarse */
    }

    .trofeos_lol_tabla {
        display: block;
        width: 100%;
    }

    .trofeos_lol_tabla tr {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .trofeos_lol_tabla th {
        display: block;
        width: 100%;
        text-align: left;
    }

    .trofeos_lol_tabla th img {
        display: block;
        margin-top: 10px;
    }
}