/*EQUIPOS: Lol*/

.leagueoflegends {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
    text-shadow:
    3px 3px 0px goldenrod,
    -3px 3px 0px goldenrod,
    3px -3px 0px gold,
    -3px -3px 0px gold;
}

.lol_subt {    
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
    text-shadow:
    3px 3px 0px goldenrod,
    -3px 3px 0px goldenrod,
    3px -3px 0px gold,
    -3px -3px 0px gold;
}

.sobre-leagueoflegends{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.sobre-leagueoflegends p {
    background-color: goldenrod;
    border: solid black;
    padding: 2%;
    border-radius: 10px;
    width: 50%; 
    text-align: justify; 
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;
}

.sobre-leagueoflegends img {
    box-shadow:
    3px 3px 0px goldenrod,
    -3px 3px 0px goldenrod,
    3px -3px 0px gold,
    -3px -3px 0px gold;
    width: 400px;
    border-radius: 10px;
    margin: 3%;
}

.rosterLOL {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.rosterLOL p {
    background-color: goldenrod;
    border: solid black;
    padding: 2%;
    border-radius: 10px;
    width: 50%; 
    text-align: justify; 
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;
}

.rosterLOL img {
    box-shadow:
    3px 3px 0px goldenrod,
    -3px 3px 0px goldenrod,
    3px -3px 0px gold,
    -3px -3px 0px gold;
    margin: 3%;
    width: 400px;
    border-radius: 10px;
}

.trofeos-lol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.trofeos-lol p {
    background-color: goldenrod;
    border: solid black;
    padding: 2%;
    border-radius: 10px;
    width: 50%; 
    text-align: justify; 
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;    
}

.trofeos-lol img {
    box-shadow:
    3px 3px 0px goldenrod,
    -3px 3px 0px goldenrod,
    3px -3px 0px gold,
    -3px -3px 0px gold;
    margin: 3%;
    width: 500px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .sobre-leagueoflegends{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sobre-leagueoflegends p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85%; 
    }
    
    .sobre-leagueoflegends img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
    }
    
    .rosterLOL {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .rosterLOL p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85%; 
    }
    
    .rosterLOL img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3%;
        width: 600px;
        border-radius: 10px;
    }
    
    .trofeos-lol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .trofeos-lol p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85%; 
        margin-left: 3%;
    }
    
    .trofeos-lol img {
        box-shadow:
        3px 3px 0px goldenrod,
        -3px 3px 0px goldenrod,
        3px -3px 0px gold,
        -3px -3px 0px gold;
        margin: 3%;
        width: 500px;
        border-radius: 10px;
    }
    
}
@media screen and (max-width: 480px) {
    .sobre-leagueoflegends{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sobre-leagueoflegends p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85%; 
    }
    
    .sobre-leagueoflegends img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
    }
    
    .rosterLOL {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .rosterLOL p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85%; 
    }
    
    .rosterLOL img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3%;
        width: 400px;
        border-radius: 10px;
    }
    
    .trofeos-lol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .trofeos-lol p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        margin-top: 2%;
        width: 85%; 
        margin-left: 3%;
    }
    
    .trofeos-lol img {
        box-shadow:
        3px 3px 0px goldenrod,
        -3px 3px 0px goldenrod,
        3px -3px 0px gold,
        -3px -3px 0px gold;
        margin: 3%;
        width: 450px;
        border-radius: 10px;
    }
    
}